@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "./base/mixins" as *;

@import "../../icons/style";

body {
  background-image: url("../../images/clark-van-der-beken.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 5%;
}

.container {
  margin: 0 auto;
  width: 40vw;
  height: 70vh;
  background-color: white;
  h1 {
    text-align: center;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .input-field {
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    input {
      border-radius: 5px;
      outline: none;
      border: 1px solid black;
      line-height: 30px;
      width: 100%;
    }
  }
}
